**/opt/**
**/reference_files/**
**/data/**
**/output/**
**/data_original/**
**/output_original/**
**/count_matrix_collection/**
**/count_matrix_collection_original/**

**/*.pyc

**/.DS_Store

**/.Rhistory

**/.ipynb_checkpoints

**/.virtual_documents
